.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS HEX
--charcoal: #264653ff;
--middle-blue: #90ddf0ff;
--minion-yellow: #fde74cff;
--mango-tango: #f98948ff;
--international-orange-aerospace: #ff5714ff;

/* CSS HSL */
/* --charcoal: hsla(197, 37%, 24%, 1);
--middle-blue: hsla(192, 76%, 75%, 1);
--minion-yellow: hsla(53, 98%, 65%, 1);
--mango-tango: hsla(22, 94%, 63%, 1);
--international-orange-aerospace: hsla(17, 100%, 54%, 1); */

/* SCSS HEX */
/* $charcoal: #264653ff;
$middle-blue: #90ddf0ff;
$minion-yellow: #fde74cff;
$mango-tango: #f98948ff;
$international-orange-aerospace: #ff5714ff; */

/* SCSS HSL */
/* $charcoal: hsla(197, 37%, 24%, 1);
$middle-blue: hsla(192, 76%, 75%, 1);
$minion-yellow: hsla(53, 98%, 65%, 1);
$mango-tango: hsla(22, 94%, 63%, 1);
$international-orange-aerospace: hsla(17, 100%, 54%, 1); */

/* SCSS RGB
$charcoal: rgba(38, 70, 83, 1);
$middle-blue: rgba(144, 221, 240, 1);
$minion-yellow: rgba(253, 231, 76, 1);
$mango-tango: rgba(249, 137, 72, 1);
$international-orange-aerospace: rgba(255, 87, 20, 1); */

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #264653ff, #90ddf0ff, #fde74cff, #f98948ff, #ff5714ff);
$gradient-right: linear-gradient(90deg, #264653ff, #90ddf0ff, #fde74cff, #f98948ff, #ff5714ff);
$gradient-bottom: linear-gradient(180deg, #264653ff, #90ddf0ff, #fde74cff, #f98948ff, #ff5714ff);
$gradient-left: linear-gradient(270deg, #264653ff, #90ddf0ff, #fde74cff, #f98948ff, #ff5714ff);
$gradient-top-right: linear-gradient(45deg, #264653ff, #90ddf0ff, #fde74cff, #f98948ff, #ff5714ff);
$gradient-bottom-right: linear-gradient(135deg, #264653ff, #90ddf0ff, #fde74cff, #f98948ff, #ff5714ff);
$gradient-top-left: linear-gradient(225deg, #264653ff, #90ddf0ff, #fde74cff, #f98948ff, #ff5714ff);
$gradient-bottom-left: linear-gradient(315deg, #264653ff, #90ddf0ff, #fde74cff, #f98948ff, #ff5714ff);
$gradient-radial: radial-gradient(#264653ff, #90ddf0ff, #fde74cff, #f98948ff, #ff5714ff); */ 